# Dependencies
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Production
/dist
/dist-electron
/release

# App release output
release/
article-manager/release/

# Misc
.DS_Store
Thumbs.db
